<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="validemail" value="abc@gmail.com"></parameter>
<parameter name="invalidemail" value="invalidabc@gmail.com"></parameter>
<parameter name = "url" value = "https://www.amazon.ca/"></parameter>

  <test thread-count="5" name="RegressionTest-chrome">
  <parameter name ="browser" value = "chrome" ></parameter>
  
    <packages>
      <package name="test"/>
    </packages>
  </test> <!-- RegressionTest -->
</suite> <!-- Suite -->
